In [ ]:
DataFrame players:
+-------------+--------+
| Column Name | Type   |
+-------------+--------+
| player_id   | int    |
| name        | object |
| age         | int    |
| position    | object |
| ...         | ...    |
+-------------+--------+
Write a solution to calculate and display the number of rows and columns of players.

Return the result as an array:

[number of rows, number of columns]

The result format is in the following example.

 

Example 1:

Input:
+-----------+----------+-----+-------------+--------------------+
| player_id | name     | age | position    | team               |
+-----------+----------+-----+-------------+--------------------+
| 846       | Mason    | 21  | Forward     | RealMadrid         |
| 749       | Riley    | 30  | Winger      | Barcelona          |
| 155       | Bob      | 28  | Striker     | ManchesterUnited   |
| 583       | Isabella | 32  | Goalkeeper  | Liverpool          |
| 388       | Zachary  | 24  | Midfielder  | BayernMunich       |
| 883       | Ava      | 23  | Defender    | Chelsea            |
| 355       | Violet   | 18  | Striker     | Juventus           |
| 247       | Thomas   | 27  | Striker     | ParisSaint-Germain |
| 761       | Jack     | 33  | Midfielder  | ManchesterCity     |
| 642       | Charlie  | 36  | Center-back | Arsenal            |
+-----------+----------+-----+-------------+--------------------+
Output:
[10, 5]
Explanation:
This DataFrame contains 10 rows and 5 columns.

In [9]:
import pandas as pd

def getDataframeSize(players: pd.DataFrame) -> List[int]:
    return list(players.shape)

NameError: name 'List' is not defined

In [5]:
df = pd.read_csv('../data/activities.csv')

In [6]:
df.head()

,Activity Type,Date,Favorite,Title,Distance,Calories,Time,Avg HR,Max HR,Avg Run Cadence,...,Min Temp,Surface Interval,Decompression,Best Lap Time,Number of Laps,Max Temp,Moving Time,Elapsed Time,Min Elevation,Max Elevation
0,Running,2024-05-09 12:44:32,False,Tama Ward Running,1.63,82,00:09:12.3,128,149,152,...,0.0,0:00,No,00:03:28.8,2,0.0,00:09:08,00:11:45,19,40
1,Running,2024-05-08 21:03:33,False,Tama Ward Running,0.35,16,00:01:56.2,128,150,142,...,0.0,0:00,No,00:01:56.2,1,0.0,00:01:50,00:02:27.8,23,55
2,Running,2024-05-08 19:59:32,False,Tama Ward Running,5.51,344,00:32:08,150,171,154,...,0.0,0:00,No,00:03:01.3,6,0.0,00:32:03,00:33:33,16,40
3,Running,2024-05-07 18:39:11,False,Tama Ward Running,6.00,377,00:36:05,146,163,156,...,0.0,0:00,No,00:00:01.0,7,0.0,00:36:03,00:41:22,17,43
4,Running,2024-05-06 21:55:53,False,Tama Ward Running,1.68,99,00:10:17,135,150,149,...,0.0,0:00,No,00:04:06.6,2,0.0,00:10:11,00:10:39,20,41

In [7]:
df.shape

(20, 38)

In [8]:
df.shape()

TypeError: 'tuple' object is not callable